networks:
  internal-pod:
    internal: true
  external-pod:
    internal: false

volumes:
  dolibarr-custom:
  dolibarr-docs:
  postgres-data:

services:
  dolibarr:
    image: tuxgasy/dolibarr:latest
    depends_on:
      - postgres
    environment:
      DOLI_DB_TYPE: "pgsql"
      DOLI_DB_HOST: "postgres"
      DOLI_DB_HOST_PORT: "5432"
      DOLI_DB_USER: "dolibarr"
      DOLI_DB_PASSWORD: "mysupersecretpasswordfordatabase"
      DOLI_DB_NAME: "dolibarr"
      DOLI_ADMIN_LOGIN: "admin"
      DOLI_ADMIN_PASSWORD: "mysuperhypersecretpasswordforadminacount"
    ports:
      - 80:80
    volumes:
      - dolibarr-docs:/var/www/documents
      - dolibarr-custom:/var/www/html/custom
    networks:
      - internal-pod
      - external-pod

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: "dolibarr"
      POSTGRES_PASSWORD: "mysupersecretpasswordfordatabase"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - internal-pod
